.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9BAE7F;

    height: 50px;           
    padding: 1rem;        
}

.navbar a {
    font-family: 'MainFont', serif;
    font-size: 1.5rem;
    line-height: 0.5;         
    text-decoration: none;
    color: #3e492d;
}

.navbar-links {
    display: flex; 
    gap: 2rem;
}

